// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@900&display=swap');
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.square-img{
    height: 240px;
    width: 240px;
    object-fit: cover;
}

.logo {
    font-family: 'Noto Serif JP', serif;
}
.square-img-s{
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.image_images{
    max-width: 600px;
    overflow-x: auto;
    white-space: nowrap;
    padding: 0;
}

.item {
    display: inline-block;
    margin: 16px 8px 0px 0px;
}

.error {
    color: red;
}